.box {
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  width: max-content;
  height: max-content;
  display: table;
}
.task {
  border-style: inset;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  text-align: left;
}
.btn {
  color: black;
  /* background-color: aqua; */
  /* border-style: solid; */
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.addtask {
  margin-left: auto;
  margin-right: auto;
  /* border-style: ridge; */
  width: max-content;
  height: max-content;
  display: table;
}
